body {
    display: flex; flex-direction: row; background-color: snow;
    width: 100vw; height: 100vh; overflow-x: hidden;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

.busy {
    width: 300px; min-height: 450px;
    background-color: white; margin: 2vh auto;
    border: 1px solid black; padding: 30px 50px;
}

button {
    background-color: black; color: snow;
    border-radius: 5px; border: 1px solid black;
    padding: 5px; font-size: 16.5px; margin-top: 5px; margin-bottom: 15px;
    cursor: url(http://cur.cursors-4u.net/games/gam-11/gam1087.ani), url(http://cur.cursors-4u.net/games/gam-11/gam1087.png), auto !important;
}

input {
    background-color: whitesmoke; padding: 6px; 
    border: 1px solid slategray; border-radius: 5px;
    font-size: 17px; margin-bottom: 5px;
    cursor: url(http://cur.cursors-4u.net/games/gam-11/gam1087.ani), url(http://cur.cursors-4u.net/games/gam-11/gam1087.png), auto !important;
}

p { font-size: 20px; }

a {
    text-decoration: none; text-transform: bold; color: slateblue;
    cursor: url(http://cur.cursors-4u.net/games/gam-11/gam1087.ani), url(http://cur.cursors-4u.net/games/gam-11/gam1087.png), auto !important;
}

.terms{ padding-top: 35px; }

.war {
    display: block;
    font-size: 14.5px; color: red;
    margin: 2px 2px; padding: 4px 1px;
}

#notice-minMax, #notice-special, #notice-space, #notice-upCase, #notice-loCase, #notice-num { display: none; }
/*footer {
    position: fixed;
    bottom: 0;
}*/