body {
    display: flex; flex-direction: column; background-color: ghostwhite;  background-color: ivory;
    width: 100vw; height: 100vh; overflow-x: hidden;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    cursor: url(../cur1002.cur), auto !important; 
}

button, input, a {
    cursor: url(../gam1087.ani), url(../gam1087.png), auto !important;
}
.busy {
    width: 300px; height: auto;
    background-color: white; margin: 2vh auto;
    border: 1px solid black; padding: 30px 50px;
}

button {
    background-color: black; color: snow;
    border-radius: 5px; border: 1px solid black;
    padding: 5px; font-size: 16.5px; margin-top: 5px; margin-bottom: 15px;
}

input {
    background-color: whitesmoke; padding: 6px; 
    border: 1px solid slategray; border-radius: 5px;
    font-size: 17px; margin-bottom: 5px;
}

p { font-size: 20px; }

a {
    text-decoration: none; text-transform: bold; color: slateblue;
}

.terms{ padding-top: 35px; }

.war {
    display: none;
    font-size: 14.5px; color: red;
    margin: 2px 2px; padding: 4px 1px;
}

header {
    display: flex; flex-direction: row;
    width: 100vw; height: 40px;
    background-color: saddlebrown; color: black;
}

.db8 {
    display: flex; flex-direction: column;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: black; }
::-webkit-scrollbar-thumb { background: #323232; }
::-webkit-scrollbar-thumb:hover { background: #888; }

#socR, #socL { width: 150px; }

.this img { padding: 0 2px; }

@media screen and (max-width: 500px) {
    .body { margin: 1vh auto; }
    .busy {
        width: 56%;
    }
}